DJANGO_SECRET_KEY=dev-only-change-me
DJANGO_DEBUG=True
DJANGO_ENV=local
TIMESCALE_IMAGE=timescale/timescaledb-ha:pg15-ts2.14
POSTGRES_DB=eatart
POSTGRES_USER=eatart
POSTGRES_PASSWORD=eatart
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://eatart:eatart@localhost:5432/eatart
POSTGRES_DUMP_FILE=source/120710-database
USE_S3=True
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MAILCHIMP_API_KEY=
MAILCHIMP_DATA_CENTER=
MAILCHIMP_AUDIENCE_ID=