__pycache__
db.sqlite3
env
.env
.env.local
source/
run-local.sh
stop-local.sh
restore-local.sh
01-timescaledb.sql
.env.example
eatart/local_settings.py
.local_settings
Dockerfile
compose.yml
120710-database
/docker/*
/scripts/*
media/
staticfiles/
.DS_Store
db.sqlite3.*
