{% load site_tags %}{% surl artist as artist_url %}
<div class="card" data-sl-title="{{ artist.full_name }}" data-sl-url="{{ artist_url }}">
  {% if artist.image %}
  <a style="display: contents" href="{{ artist_url }}"><img loading="lazy" src="{{ artist.card_sm.url }}" data-sl-img="{{ artist.slideshow.url }}" class="card__image"></a>
  {% endif %}
  <div class="card__content">
    <a class="card__link" href="{{ artist_url }}">{{ artist.full_name }}</a>
  </div>
  {% if artist.id in can_manage_artist or artist.id in can_delete_artist %}
  <div class="card__info">
  {% if artist.id in can_manage_artist %}
    <a class="card__link" href="{% url 'gallery:artist_edit' artist.pk %}">Edit</a>
  {% endif %}
  {% if artist.id in can_delete_artist %}
    <a class="card__link" href="{% url 'gallery:artist_delete' artist.pk %}">Delete</a>
  {% endif %}
  </div>
  {% endif %}
</div>
