<div class="card">
  {% if show.status == show.STATUS_OPEN_CALL and show.submission_type != 'invited' %}
  <div class="text-center"><h2>{% if show.show_type == 'public_art' %}Public Art &middot;{% endif %}Open Call</h2></div>
  {% elif show.status == show.STATUS_IN_REVIEW %}
  <div class="text-center"><h2>{% if show.show_type == 'public_art' %}Public Art &middot;{% endif %}Open Call &middot; Jury Review</h2></div>
  {% elif show.show_type == 'public_art' %}
  <div class="text-center"><h2>Public Art</h2></div>
  {% endif %}
  {% if show.image %}
  <a style="display: contents" href="{{ show.get_absolute_url }}"><img loading="lazy" src="{{ show.card_sm.url }}" class="card__image"></a>
  {% endif %}
  <div class="card__content">
    <h2 class="text-2xl"><a class="card__link" href="{{ show.get_absolute_url }}">{{ show.name }}</a></h2>
    <h4 class="mb-6">
      {% for curator in show.curators.all %}
        <a class="card__link" href="{{ curator.get_absolute_url }}">{{ curator.name }}</a>{% if not forloop.last %} and {% endif %}
      {% endfor %}
      {% if show.curators.all %}<br>{% endif %}
      {% if show.location %}<br><small>{{ show.location }}</small>{% endif %}
      {{ show.date_range }}
      {% if show.status == show.STATUS_OPEN_CALL and show.submission_deadline %}
      <br><strong>Deadline:</strong> <span style="background:#fff176;padding:0 2px">{{ show.submission_deadline }}</span>
      {% endif %}
      {% with next_ev=show.get_next_event %}
      {% if next_ev %}
      <br><span style="background:#fff176;padding:0 2px"><a class="card__link" href="{{ next_ev.get_absolute_url }}">{{ next_ev.name }}</a>: {{ next_ev.date }}, {{ next_ev.time_range }}</span>
      {% endif %}
      {% endwith %}
    </h4>
  </div>
  <div class="card__info">
    {% if show.id in can_manage_show %}
    <a class="card__link" href="{% url 'gallery:show_edit' show.pk %}">Edit</a>
    <a class="card__link" href="{% url 'gallery:show_delete' show.pk %}">Delete</a>
    {% endif %}
  </div>
</div>
