{% extends 'base.html' %}

{% block title %}Artworks{% endblock %}
{% block block_title %}Artworks{% if paginator.count %} ({{ paginator.count }}){% endif %}
<button class="card__link" data-ss-first-cards type="button">Slideshow</button>
{% if user.is_authenticated %}
  <a class="card__link new-button" href="{% url 'gallery:artwork_new' %}">New</a>
{% endif %}
{% endblock %}
{% block content %}
<div class="cards" data-infinite-grid id="artwork-grid">
  {% include 'gallery/_artwork_cards.html' %}
</div>
<div id="infinite-sentinel" style="height:1px"></div>
<noscript>{% include 'includes/pagination.html' %}</noscript>
{% endblock content %}

{% block extra_js %}
{% load static %}
<script src="{% static 'js/infinite_scroll.js' %}"></script>
{% endblock %}
