{% extends 'base.html' %}

{% block title %}Artworks{% endblock %}
{% block block_title %}Artworks
{% if user.is_authenticated %}
  <a class="card__link new-button" href="{% url 'gallery:artwork_new' %}">New</a>
{% endif %}
<button class="ss-status-btn" data-ss-first-cards type="button">Slideshow</button>
{% endblock %}
{% block content %}
<div class="cards" data-grid-count="artworks">
{% for artwork in artwork_list %}
  {% include 'gallery/_artwork_card.html' %}
{% endfor %}
</div>
{% include 'includes/pagination.html' %}
{% endblock content %}
