{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>New Artwork</h1>
{% if form.errors %}<div class="alert alert-danger">Please correct the highlighted fields below.</div>{% endif %}
<form action="" method="post" enctype="multipart/form-data" data-image-required="1">{% csrf_token %}
  {% crispy form %}
  <button class="btn btn-success ms-2" type="submit">Save</button>
</form>
{% endblock content %}

{% block extra_js %}
{% load static %}
<script src="{% static 'js/artwork_form_validate.js' %}"></script>
{% endblock %}
