{% extends 'base.html' %}

{% block title %}{{ artwork.name }}{% endblock %}
{% block block_title %}{{ artwork.name }}{% endblock %}

{% block content %}
<div class="cards">
<div class="card" id="big_card">
  {% if artwork.image %}
  <img loading="lazy" src="{{ artwork.card_md.url }}" data-full-src="{{ artwork.detail_lg.url }}" class="card__image zoomable">
  {% endif %}
  <div class="card__content">
    <h2 class="text-sm"><a class="card__link" href="{{ artwork.get_absolute_url }}">{{ artwork.name }}</a></h2>
    <h2 class="text-sm">{% for artist in artwork.artists.all %}<a class="card__link" href="{{ artist.get_absolute_url }}">{{ artist }}</a>{% if not forloop.last %}{% if forloop.revcounter > 2 %}, {% else %} and {% endif %}{% endif %}{% endfor %}</h2>
    {% if not artwork.shows.all %}
    <p class="text-gray-500 text-sm"><strong>Visibility: </strong>Private</p>
    {% endif %}
    <h2 class="text-sm">
      {% if artwork.start_year %}
      {{ artwork.start_year }}-
      {% endif %}
      {{ artwork.end_year }}
    </h2>
    <br>
    <p class="text-gray-500 text-sm"><strong>Medium: </strong>{{ artwork.medium }}</p>
    <p class="text-gray-500 text-sm"><strong>Dimensions: </strong>{{ artwork.formatted_dimensions }}</p>
    <p class="text-gray-500 text-sm"><strong>Price:</strong>
      {{ artwork.formatted_price }}
      {% if artwork.is_sold %}<strong>sold</strong>{% endif %}
    </p>
    {% if artwork.description %}
    <p class="text-gray-500 text-sm"><strong>Description:</strong>
      {{ artwork.description }}
    </p>
    {% endif %}
  </div>
  <div class="card__info">
    {% if can_inquire %}
    <a class="card__link" href="{% url 'gallery:artwork_inquire' artwork.pk %}">Inquire</a>
    {% endif %}
    {% if can_manage_artwork %}
    <a class="card__link" href="{% url 'gallery:artwork_edit' artwork.pk %}">Edit</a>
    {% endif %}
    {% if can_delete_artwork %}
    <a class="card__link" href="{% url 'gallery:artwork_delete' artwork.pk %}">Delete</a>
    {% endif %}
  </div>
</div>
</div>
<div class="text-center section-label"><h2>Shows</h2></div>
<div class="cards">
  {% for show in artwork.shows.all %}
    <div class="card">
     {% if show.image %}
     <a style="display: contents" href="{{ show.get_absolute_url }}"><img loading="lazy" src="{{ show.card_sm.url }}" class="card__image"></a>
     {% endif %}
     <div class="card__content"><a class="card__link" href="{{ show.get_absolute_url }}">{{ show.name }}</a></div>
     <div class="card__info">
       {% if show.id in can_manage_show %}
       <a class="card__link" href="{{ show.get_placards_url }}">Placards</a>
       <a class="card__link" href="{{ show.get_instagram_url }}">Instagram</a>
       <a class="card__link" href="{% url 'gallery:show_edit' show.pk %}">Edit</a>
       {% endif %}
       {% if show.id in can_delete_show %}
       <a class="card__link" href="{% url 'gallery:show_delete' show.pk %}">Delete</a>
       {% endif %}
     </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
