{% extends 'base.html' %}

{% block title %}Shows{% endblock title %}
{% block block_title %}Shows
{% if user.is_authenticated %}
  <a class="card__link" href="{% url 'gallery:show_new' %}">New</a>
{% endif %}
{% endblock block_title %}

{% block content %}
{% if user.is_authenticated %}
<form class="mb-3" method="get">
  <label for="show-tag-filter">Filter by tag</label>
  <select id="show-tag-filter" name="tag" onchange="this.form.submit()">
    <option value="">All tags</option>
    {% for tag in available_tags %}
      <option value="{{ tag.slug }}" {% if active_tag == tag.slug %}selected{% endif %}>{{ tag.name }}</option>
    {% endfor %}
  </select>
</form>
{% endif %}
<div class="cards">
  {% for show in shows %}
    <div class="card">
      {% if show.image %}
      <a style="display: contents" href="{{ show.get_absolute_url }}"><img src="{{ show.image.url }}" class="card__image"></a>
      {% endif %}
      <div class="card__content">
        <h2 class="text-2xl"><a class="card__link" class="card__link" href="{{ show.get_absolute_url }}">{{ show.name }}</a></h2>
        {% if show.is_open_call %}
        <p>Open Call</p>
        {% endif %}
        <h4 class="mb-6">Curated by:
        {% if show.curator_artist %}
          <a class="card__link" href="{{ show.curator_artist.get_absolute_url }}">{{ show.curator_artist.name }}</a>
        {% else %}
          Unassigned
        {% endif %}<br>
        {{ show.start }} - {{ show.end }} <br>
        {% for event in show.events.all %}
          <a class="card__link" href="{{ event.get_absolute_url }}">{{ event.name }}</a>:
          {{ event.date }}, {{ event.start }} - {{ event.end }} <br>
        {% endfor %}
        </h4>
      </div>
      <div class="card__info">
        {% if user.is_authenticated %}
        <a class="card__link" class="card__link" href="{{ show.get_placards_url }}">Placards</a>
        <a class="card__link" class="card__link" href="{{ show.get_instagram_url }}">Instagram</a>
        <a class="card__link" class="card__link" href="{% url 'gallery:show_edit' show.pk %}">Edit</a>
        <a class="card__link" class="card__link" href="{% url 'gallery:show_delete' show.pk %}">Delete</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
