{% extends 'base.html' %}

{% block title %}Shows{% endblock title %}
{% block block_title %}Shows
{% if is_staff_user %}
  <a class="card__link new-button" href="{% url 'gallery:show_new' %}">New</a>
{% endif %}
{% endblock block_title %}

{% block content %}
{% if current_shows %}
<div class="text-center section-label"><h2>Current Shows</h2></div>
<div class="cards">
  {% for show in current_shows %}
    {% include 'gallery/_show_card.html' %}
  {% endfor %}
</div>
{% endif %}

{% if future_shows %}
<div class="text-center section-label"><h2>Future Shows</h2></div>
<div class="cards">
  {% for show in future_shows %}
    {% include 'gallery/_show_card.html' %}
  {% endfor %}
</div>
{% endif %}

{% if past_shows %}
<div class="text-center section-label"><h2>Past Shows</h2></div>
<div class="cards">
  {% for show in past_shows %}
    {% include 'gallery/_show_card.html' %}
  {% endfor %}
</div>
{% endif %}

{% if not current_shows and not future_shows and not past_shows %}
<p class="text-center mt-4">No shows found.</p>
{% endif %}

{% endblock content %}
