{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit {{ object.name }}{% endblock %}
{% block block_title %}{{ object.name }}{% endblock %}
{% block content %}
<div class="container mt-3">
<h1>Edit Site</h1>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form|crispy }}
  <button type="button" class="btn btn-outline-secondary btn-sm" id="geocode-btn">Look up coordinates from address</button>
  <span id="geocode-status" class="ms-2 text-muted small"></span>
  <hr>
  <h5>Gallery Room Dimensions</h5>
  {{ room_form|crispy }}
  <br>
  <button class="btn btn-info ms-2" type="submit">Update</button>
  <a class="btn btn-secondary ms-2" href="{{ object.get_absolute_url }}">Cancel</a>
</form>
</div>
{% endblock %}
{% block extra_js %}{% include 'gallery/_geocode_js.html' %}{% endblock %}
