{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}New Site{% endblock %}
{% block content %}
<div class="container mt-3">
<h1>New Site</h1>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form|crispy }}
  <button type="button" class="btn btn-outline-secondary btn-sm" id="geocode-btn">Look up coordinates from address</button>
  <span id="geocode-status" class="ms-2 text-muted small"></span>
  {% include 'gallery/_room_config_form.html' %}
  <br>
  <button class="btn btn-success ms-2" type="submit">Save</button>
</form>
</div>
{% endblock %}
{% block extra_js %}{% include 'gallery/_geocode_js.html' %}{% endblock %}
