{% extends 'market/base.html' %}

{% block title %}Artists{% endblock title %}

{% block content %}
<div style="text-align:center"><h2>Artists</h2></div>
{% if user.is_authenticated %}
  <div style="text-align:center"><a href="{% url 'piece:artist_new' %}">New</a></div>
{% endif %}
<div class="cards">
{% for artist in artist_list %}
  <div class="card">
    {% if artist.image %}
    <img src="{{ artist.image.url }}" class="card__image" width="100" height="100">
    {% endif %}
    <div class="card__contents"><a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a></div>
    {% if user.is_authenticated %}
    <div class="card__info">
      <a href="{% url 'piece:artist_edit' artist.pk %}">Edit</a>
      <a href="{% url 'piece:artist_delete' artist.pk %}">Delete</a>
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock content %}
