{% extends 'base.html' %}

{% block title %}{{ artist.name }}{% endblock %}
{% block block_title %}{{ artist.name }}{% endblock %}

{% block content %}
<div class="cards">
<div class="card" id="big_card">
  {% if artist.image %}
  <img src="{{ artist.image.url }}" class="card__image">
  {% endif %}
  <div class="card__content">
    <h1 class="mb-6 text-3xl">{{ artist.name }}</h1>
    {% if artist.instagram %}
    <p class="text-gray-500 text-sm"><strong>Instagram: </strong><a href="https://instagram.com/{{ artist.instagram|cut:"@" }}">{{ artist.instagram }}</a></p>
    {% endif %}
    {% if artist.website %}
    <p class="text-gray-500 text-sm"><strong>Website: </strong><a href="{{ artist.website }}">{{ artist.website }}</a></p>
    {% endif %}
    {% if artist.bio %}
    <p class="text-gray-500 text-sm"><strong>Bio: </strong>{{ artist.bio }}</p>
    {% endif %}
    {% if artist.statement %}
    <p class="text-gray-500 text-sm"><strong>Statement: </strong>{{ artist.statement }}</p>
    {% endif %}
  </div>
  <div class="card__info">
    {% if user.is_authenticated %}
    <a href="{% url 'piece:artist_edit' artist.pk %}">Edit</a>
    <a href="{% url 'piece:artist_delete' artist.pk %}">Delete</a>
    {% endif %}
  </div>
</div>
</div>
<div style="text-align:center"><h2>Artworks</h2></div>
{% if user.is_authenticated %}
<div style="text-align:center"><a class="card__link" href="{% url 'piece:piece_new' %}">New</a></div>
{% endif %}
<div class="cards">
  {% for piece in artist.pieces.all %}
  <div class="card">
    {% if piece.image %}
    <img src="{{ piece.image.url }}" class="card__image">
    {% endif %}
    <div class="card__content"><a class="card__link" href="{{ piece.get_absolute_url }}">{{ piece.name }}</a></div>
    <div class="card__info">
      {% if user.is_authenticated %}
      <a href="{% url 'piece:piece_edit' piece.pk %}">Edit</a>
      <a href="{% url 'piece:piece_delete' piece.pk %}">Delete</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
