{% extends 'base.html' %}

{% block title %}Artworks{% endblock %}
{% block block_title %}Artworks
{% if user.is_authenticated %}
  <a class="card__link" href="{% url 'piece:piece_new' %}">New</a>
{% endif %}
{% endblock %}
{% block content %}
<div class="cards">
{% for piece in piece_list %}
  <div class="card">
    {% if piece.image %}
    <a style="display: contents" href="{{ piece.get_absolute_url }}"><img src="{{ piece.image.url }}" class="card__image"></a>
    {% endif %}
    <div class="card__content">
      <h3 class="text-sm"><a class="card__link" href="{{ piece.get_absolute_url }}">{{ piece.name }}</a></h3>
      <h3 class="text-sm">{% for artist in piece.artists.all %}<a class="card__link" href="{% url 'piece:artist_detail' artist.id %}"> {{ artist }}</a>{% endfor %}</h3>
    </div>
    <div class="card__info">
    {% if user.is_authenticated %}
      <a class="card__link" href="{% url 'piece:piece_edit' piece.pk %}">Edit</a>
      <a class="card__link" href="{% url 'piece:piece_delete' piece.pk %}">Delete</a>
    {% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% endblock content %}
