{% extends 'base.html' %}

{% block title %}{{ piece.name }}{% endblock %}
{% block block_title %}{{ piece.name }}{% endblock %}

{% block content %}
<div class="cards">
<div class="card" id="big_card">
  {% if piece.image %}
  <img src="{{ piece.image.url }}" class="card__image">
  {% endif %}
  <div class="card__content">
    <h2 class="text-sm"><a class="card__link" href="{{ piece.get_absolute_url }}">{{ piece.name }}</a></h2>
    <h2 class="text-sm">{% for artist in piece.artists.all %}<a class="card__link" href="{% url 'piece:artist_detail' artist.id %}"> {{ artist }}</a>{% endfor %}</h2>
    <h2 class="text-sm">
      {% if piece.start_year %}
      {{ piece.start_year }}-
      {% endif %}
      {{ piece.end_year }}
    </h2>
    <br>
    <p class="text-gray-500 text-sm"><strong>Medium: </strong>{{ piece.medium }}</p>
    <p class="text-gray-500 text-sm"><strong>Dimensions: </strong>{{ piece.dimensions }}</p>
    <p class="text-gray-500 text-sm"><strong>Price:</strong>
      {% if piece.price %}
      ${{ piece.price }}
      {% endif %}
      {% if piece.pricing %}
      {{ piece.pricing }}
      {% endif %}
      {% if piece.is_sold %}
      <strong>sold</strong>
      {% endif %}
    </p>
    {% if piece.description %}
    <p class="text-gray-500 text-sm"><strong>Description:</strong>
      {{ piece.description }}
    </p>
    {% endif %}
  </div>
  <div class="card__info">
    {% if user.is_authenticated %}
    <a class="card__link" href="{% url 'piece:piece_edit' piece.pk %}">Edit</a>
    <a class="card__link" href="{% url 'piece:piece_delete' piece.pk %}">Delete</a>
    {% endif %}
  </div>
</div>
</div>
<div style="text-align:center"><h2>Shows</h2></div>
<div class="cards">
  {% for show in piece.shows.all %}
    <div class="card">
     {% if show.image %}
     <a href="{{ show.get_absolute_url }}"><img src="{{ show.image.url }}" class="card__image"></a>
     {% endif %}
     <div class="card__content"><a class="card__link" href="{{ show.get_absolute_url }}">{{ show.name }}</a></div>
     <div class="card__info">
       {% if user.is_authenticated %}
       <a class="card__link" href="{% url 'piece:show_edit' show.pk %}">Edit</a>
       <a class="card__link" href="{% url 'piece:show_delete' show.pk %}">Delete</a>
       {% endif %}
     </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
