{% extends 'market/base.html' %}

{% block title %}Shows{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  <div style="text-align:center"><a href="{% url 'piece:show_new' %}">+ New</a></div>
{% endif %}
<div class="cards">
  <h2 class="mb-12 text-2xl text-center">Shows</h2>
  {% for show in show_list %}
    <div class="card">
      <img src="{{ show.image.url }}" class="card__image">
      <div class="card__contents">
        <h2 class="text-2xl"><a href="{{ show.get_absolute_url }}">{{ show.name }}</a></h2>
        <h2 class="mb-6">Curated by:
        {% for curator in show.curators.all %}
          {{ curator.name }}
          {% if not forloop.last %} and {% endif %}
        {% endfor %} <br>
        {{ show.start }} - {{ show.end }} <br>
        {% for event in show.events.all %}
          {{ event.name }}: {{ event.date }}, {{ event.start }} - {{ event.end }} <br>
        {% endfor %}
        </h2>
      </div>
      <div class="card__info">
        {% if user.is_authenticated %}
        <div>
          <a href="{% url 'piece:show_edit' show.pk %}">Edit</a>
          <a href="{% url 'piece:show_delete' show.pk %}">Delete</a>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
