{% extends 'base.html' %}

{% block title %}{{ show.name }} instagram{% endblock %}
{% block block_title %}{{ show.name }} instagram{% endblock %}

{% block content %}
{% for piece in pieces %}
{% for artist in piece.artists.all %}
{% if artist.image %}
<img src="{{ artist.image.url }}" width=800>
{% endif %}
<br> <br>
{% endfor %}
{% if piece.image %}
<img src="{{ piece.image.url }}" width=800>
{% endif %}
<br><br>
We are so excited to introduce
{% for artist in piece.artists.all %}{{ artist }}{% if not forloop.last %}, {% endif %}{% endfor %},
who is exhibiting in our {{ show.name }} show curated by
{% for curator in show.curators.all %}{{ curator }}{% if not forloop.last %}, {% endif %}{% endfor %}.
You can see the show Saturdays 12-4p or MWF 12-6p by appointment by calling 341-205-1331 or emailing info@120710.art .
<br><br>

{% for artist in piece.artists.all %}

{% if artist.bio %}
BIO
<br><br>
{{ artist.bio }}
{% if not forloop.last %}<br>{% endif %}
{% endif %}

{% endfor %}

<br>
PIECE
<br><br>
{{ piece.name }} <br>
{% if piece.start_year %}{{ piece.start_year }}-{% endif %}{{ piece.end_year }} <br>
{{ piece.medium }} <br>
{% if piece.description %}{{ piece.description }}<br><br>{% endif %}
#120710 #gilmandistrict #bayareagalleries #bayareaart
<br>
<br>
{% endfor %}
{% endblock %}
