{% extends 'base.html' %}

{% block title %}Edit Review: {{ artwork.name }}{% endblock %}
{% block block_title %}Edit Review{% endblock %}

{% block content %}
{% include 'gallery/_artwork_display.html' with blind_artist=show.blind_review %}

<div class="col-10 col-md-6 mx-auto mt-4">
  <p><strong>Juror:</strong> {{ review.juror.get_full_name|default:review.juror.username }}</p>
  <h2>Edit juror review</h2>
  <form method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% for field in form %}
    {% if field.field.widget.input_type == 'radio' %}
    <div class="score-radios">{{ field|as_crispy_field }}</div>
    {% else %}
    {{ field|as_crispy_field }}
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save review</button>
  </form>
</div>
{% endblock %}
