<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} | 120710</title>
  </head>
  <body>
    <div class="px-6 py-6">
      {% block content %}
      {% endblock %}
    </div>
    <div class="px-6 py-6">
    <footer class="py-6 px-6 flex justify-between bg-gray-500 rounded-xl">
      <div class="w1/3">
        <h4 class="mb-5 font-semibold text-gray-900">Visit</h4>
        <p class="text-lg text-gray-900">Sat 12-4p or by Appt MWF 12-6p</p>
      </div>
      <div class="w1/3">
        <h4 class="mb-5 font-semibold text-gray-900">Instagram</h4>
        <p class="text-lg text-gray-900"><a href="https://www.instagram.com/120710.art/">@120710.art</a></p>
      </div>
      <div class="w1/3">
        <h4 class="mb-5 font-semibold text-gray-900">Phone</h4>
        <p class="text-lg text-gray-900">341-205-1331</p>
      </div>
  </footer>
</div>
  </body>
</html>
