{% extends 'base.html' %}

{% block title %}Contact{% endblock %}
{% block block_title %}Contact{% endblock %}
  
{% block content %}
<div style="text-align:center">
Please contact us if you would like more information.
<br><br>
<b>address:</b>
120710, 1207 Tenth Street, Berkeley, CA 94710, USA
<br>
<b>email:</b> <a href="mailto:info@120710.art">info@120710.art</a>
<br>
<b>phone:</b> <a href="tel:+1341-205-1331">341-205-1331</a>
<h2>Gallery Hours</h2>
Sat 12-4p or by Appt MWF 12-6p
<br>
<h2>Mailing List</h2>
<a href="https://www.120710.art/subscribe/">Upcoming shows mailing list signup</a>
<h2>Instagram</h2>
<a href="https://www.instagram.com/120710.art/">@120710.art</a>
</div>
{% endblock %}