{% extends 'base.html' %}

{% block title %}HowTo{% endblock %}
{% block block_title %}HowTo{% endblock %}
  
{% block content %}
<h2>How To Set Up Your Artist User Account -- <i>by invitation only now</i></h2>

<ol>
<li>in browser go to <a href="https://www.120710.art">120710</a></li>
<li>click on <a href="https://www.120710.art/accounts/password/reset/">Forgot Your Password</a>
<li>type in your email address (that you gave curator)
<li>check email (and optionally spam folder) and find message from us and reset password link
<li>click on reset link in email message
<li>change password by typing new password twice and hitting change password button
<li>click on Sign In with your email address and new password
<li>that will take you to the home page
</ol>

<h2>Add/Update Artist Information</h2>

<h3>if you have already shown at 120710 and <b>_HAVE_</b> an artist card then</h3>

<ol>
<li>click on <a href="https://www.120710.art/artists">Artists</a></li>
<li>find yourself in the view by using find in your browser
<li>click on your name in your artist card to go to your artist info
<li>click edit at bottom of your card if you don't like it
</ol>

<h3>else you are new to 120710...</h3>

<ol>
<li>click on <a href="https://www.120710.art/artist/new/">New</a> to make a new artist
</ol>

<h3>from there...</h3>

<ol>
<li>fill in or update your more information (the more information you provide the more users will see of you and your work)</li>
<li>when done, hit <b>save</b></li>
<li>then you'll see your artist info</li>
<li>make sure it is to your liking</li>
<li>you can hit the <b>edit</b> link (at the bottom of your artist card) to update it</li>
</ol>

<h2>Add Artwork Information</h2>

<ol>
<li>click on <b>new</b> link below Artworks at bottom of your Artist page</li>
<li>add information for your artwork</li>
<li>hit <b>save</b> when done editing</li>
<li>see how it looks and edit until done</li>
<li>you can edit it by clicking on <b>edit</b> link at the bottom of your artwork card</li>
<li>then click on your name in the artist info to get back to your artist view</li>
<li>you will see all your artworks below</li>
<li>add more artworks by clicking on <b>new</b> until done</li>
</ol>

<h2>Logout</h2>

click on <a href="https://www.120710.art/accounts/logout/">LogOut</a>
{% endblock %}