{% extends 'base.html' %}

{% block title %}
  120710
{% endblock %}
{% block block_title %}Welcome
{% endblock block_title %}
  
{% block content %}

{% if is_current_show %}
<div style="text-align:center"><h2>Current Show</h2></div>  
{% elif is_next_show %}
<div style="text-align:center"><h2>Next Show</h2></div>
{% endif %}

<div class="cards">
{% if next_show %}
    <div class="card" id="big_card">
      {% if next_show.image %}
      <a style="display: contents" href="{{ next_show.get_absolute_url }}"><img class="card__image" src="{{ next_show.image.url }}" class="rounded-t-xl"></a>
      {% endif %}
      <div class="card__content">
        <h2 class="text-2xl"><a class="card__link" href="{{ next_show.get_absolute_url }}">{{ next_show.name }}</a></h2>
        <h4 class="mb-6">Curated by:
        {% for curator in next_show.curators.all %}
          <a class="card__link" href="{% url 'piece:artist_detail' curator.id %}"> {{ curator.name }}</a>
          {% if not forloop.last %} and {% endif %}
        {% endfor %} <br>
        {{ next_show.start }} - {{ next_show.end }} <br>
        {% for event in next_show.events.all %}
          <a class="card__link" href="{% url 'piece:event_detail' event.id %}">{{ event.name }}</a>: {{ event.date }}, {{ event.start }} - {{ event.end }} <br>
        {% endfor %}
        </h4>
      </div>
      <div class="card__info">
      {% if user.is_authenticated %}
        <a class="card__link" href="{% url 'piece:show_edit' next_show.pk %}" class="card__link">Edit</a>
        <a class="card__link" href="{% url 'piece:show_delete' next_show.pk %}" class="card__link">Delete</a>
      {% endif %}
      </div>
    </div>
{% endif %}
{% if next_event %}
    <div class="card" id="big_card">
      {% if next_event.image %}
      <a style="display: contents" href="{{ next_event.get_absolute_url }}"><img src="{{ next_event.image.url }}" class="card__image"></a>
      {% endif %}
      <div class="card__content">
        <h1 class="mb-6 text-3xl"><a class="card__link" href="{{ next_event.get_absolute_url }}">{{ next_event.name }} of {{ next_event.show.name }}</a></h1>
        <p class="mb-6 text-3xl">{{ next_event.date }}: {{ next_event.start }} - {{ next_event.end }}</p>
        {% if next_event.description %}
        <p class="text-gray-500 text-sm"><strong>Description: </strong>{{ next_event.description }}</p>
        {% endif %}
      </div>
      <div class="card__info">
        {% if user.is_authenticated %}
        <a class="card__link" href="{% url 'piece:event_edit' next_event.pk %}">Edit</a>
        <a class="card__link" href="{% url 'piece:event_delete' next_event.pk %}">Delete</a>
        {% endif %}
      </div>
    </div>
{% endif %}

</div>

<div style="text-align:center"><h2>All Shows</h2></div>

<div class="cards">
  {% for show in shows %}
    <div class="card">
      {% if show.image %}
      <a style="display: contents" href="{{ show.get_absolute_url }}"><img class="card__image" src="{{ show.image.url }}" class="rounded-t-xl"></a>
      {% endif %}
      <div class="card__content">
        <h2 class="text-2xl"><a class="card__link" href="{{ show.get_absolute_url }}">{{ show.name }}</a></h2>
        <h4 class="mb-6">Curated by:
        {% for curator in show.curators.all %}
          <a class="card__link" href="{% url 'piece:artist_detail' curator.id %}"> {{ curator.name }}</a>
          {% if not forloop.last %} and {% endif %}
        {% endfor %} <br>
        {{ show.start }} - {{ show.end }} <br>
        {% for event in show.events.all %}
          <a class="card__link" href="{% url 'piece:event_detail' event.id %}">{{ event.name }}</a>: {{ event.date }}, {{ event.start }} - {{ event.end }} <br>
        {% endfor %}
        </h4>
      </div>
      <div class="card__info">
      {% if user.is_authenticated %}
        <a class="card__link" href="{% url 'piece:show_edit' show.pk %}" class="card__link">Edit</a>
        <a class="card__link" href="{% url 'piece:show_delete' show.pk %}" class="card__link">Delete</a>
      {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
