{% extends 'market/base.html' %}

{% block title %}
  Welcome
{% endblock %}
  
{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Shows</h2>
  <div class="grid grid-cols-3 gap-3">
    {% for show in shows %}
    <div>
      <a href="{% url 'piece:show_detail' show.id %}">
        <div>
          <img src="{{ show.image.url }}" class="rounded-t-xl">
        </div>
        <div class="p-6 bg-white rounded-b-xl">
          <h2 class="text-2xl">{{ show.name }}</h2>
          <h2 class="mb-6">Curated by:
          {% for curator in show.curators.all %}
            {{ curator.name }}
            {% if not forloop.last %} and {% endif %}
          {% endfor %} <br>
          {{ show.start }} - {{ show.end }} <br>
          {% for event in show.events.all %}
            {{ event.name }}: {{ event.start }} - {{ event.end }} <br>
          {% endfor %}
          </h2>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
