{% extends 'base.html' %}
{% load static %}

{% block title %}Visit{% endblock %}
{% block block_title %}Visit{% endblock %}
  
{% block content %}
<div style="text-align:center">
<address>
120710<br>
1207 Tenth Street<br>
Berkeley, CA 94710<br>
USA
</address>

<p>
Street parking available<br>
<br>
Nearby AC Transit bus stop at San Pablo and Gilman<br>
<br>
<a href="https://www.google.com/maps/place/120710+Art+Gallery+and+Studios/@37.881613,-122.297071,17z/data=!3m1!4b1!4m6!3m5!1s0x80857fe33939de33:0xa98f578d5581c405!8m2!3d37.881613!4d-122.297071!16s%2Fg%2F11vz4_kgbg?entry=ttu&g_ep=EgoyMDI1MDkyMS4wIKXMDSoASAFQAw%3D%3D"><img width=400px src="{% static 'img/120710-map.png' %}"></a>
<br>
<img width=400px src="{% static 'img/120710-street-view.png' %}">
</div>
{% endblock %}