{% extends 'base.html' %}
{% load crispy_forms_tags honeypot %}

{% block title %}Subscribe{% endblock %}
{% block block_title %}Subscribe{% endblock %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li style="color: green; font-weight: bold;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h2>Join our mailing list to receive information about upcoming shows/events.</h2>

<form method="post">
  {% csrf_token %}
  {% render_honeypot_field %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Sign up</button>
</form>

<style>
    .honeypot {
        display: none;
    }
</style>
{% endblock %}
